@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 75 40% 98%;
		--foreground: 222 47.4% 11.2%;
		--card: 0 0% 100%;
		--card-foreground: 222 47.4% 11.2%;
		--popover: 0 0% 100%;
		--popover-foreground: 222 47.4% 11.2%;
		--primary: 83 88.3% 59.8%;
		--primary-foreground: 0 0% 0%;
		--secondary: 215 25% 26.7%;
		--secondary-foreground: 210 40% 98%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215 16.3% 46.9%;
		--accent: 138 76.5% 96.7%;
		--accent-foreground: 143 64.2% 24.1%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 100%;
		--border: 214 31.8% 91.4%;
		--input: 214 31.8% 91.4%;
		--ring: 83 88.3% 59.8%;
		--radius: 1rem;
	}

	.dark:root {
		--background: 229 84% 4.9%;
		--foreground: 210 40% 98%;
		--card: 222 47.4% 11.2%;
		--card-foreground: 210 40% 98%;
		--popover: 222 47.4% 11.2%;
		--popover-foreground: 210 40% 98%;
		--primary: 83 88.3% 59.8%;
		--primary-foreground: 0 0% 0%;
		--secondary: 217 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 144 61.2% 20.2%;
		--accent-foreground: 83 88.3% 59.8%;
		--destructive: 0 70% 35.3%;
		--destructive-foreground: 0 0% 100%;
		--border: 217 32.6% 17.5%;
		--input: 217 32.6% 17.5%;
		--ring: 83 88.3% 59.8%;
	}
}
